# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [23]:
# P1: Pegar a cotação do dolar
# P2: Pegar a cotação do Euro
# P3: Pegar a cotação do ouro
# P4: Atualizar na base de preços (Atualizando o preço de compra e de venda)
# P5: Exportar a base de preços atualizada

In [24]:
#pip install selenium

In [25]:
from selenium import webdriver #permite criar o navegador
from selenium.webdriver.common.keys import Keys #Permite escrever no navegador
from selenium.webdriver.common.by import By #Permite selecionar itens no navegador
import pandas as pd

In [26]:
#P1
    #0 Abrir o navegador
    #1 Entrar no google
    #2 Pesquisar Cotação Dolar
    #3 Pegar a cotação do 

#0
navegador = webdriver.Chrome()
#1
navegador.get("https://www.google.com")
#2
navegador.find_element("xpath", '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dolar")
navegador.find_element("xpath", '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
#3
cotacao_dolar = navegador.find_element("xpath", '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_dolar)

#P2
navegador.get("https://www.google.com")
navegador.find_element("xpath", '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro")
navegador.find_element("xpath", '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_euro = navegador.find_element("xpath", '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(cotacao_euro)

#P3
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element("xpath", '//*[@id="comercial"]').get_attribute("value")
cotacao_ouro = cotacao_ouro.replace(",", ".")
print(cotacao_ouro)

navegador.quit()

5.1964999999999995
5.154902017
288.46

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [27]:
# P4: Atualizar na base de preços (Atualizando o preço de compra e de venda)
tabela=pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [28]:
#Atualizar a coluna de cotação
tabela.loc[tabela["Moeda"]=="Dólar" , "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"]=="Euro" , "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"]=="Ouro" , "Cotação"] = float(cotacao_ouro)

#Atualizar a coluna de preço de compra = Preço original * cotação
tabela["Preço de Compra"] = tabela["Cotação"] * tabela["Preço Original"]

#Atualizar a coluna de preço de venda = Preço de venda * margem
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.196500,5196.448035,1.40,7275.027249
1,Carro Renault,4500.00,Euro,5.154902,23197.059077,2.00,46394.118153
2,Notebook Dell,899.99,Dólar,5.196500,4676.798035,1.70,7950.556659
3,IPhone,799.00,Dólar,5.196500,4152.003500,1.70,7058.405950
4,Carro Fiat,3000.00,Euro,5.154902,15464.706051,1.90,29382.941497
5,Celular Xiaomi,480.48,Dólar,5.196500,2496.814320,2.00,4993.628640
6,Joia 20g,20.00,Ouro,288.460000,5769.200000,1.15,6634.580000

### Agora vamos exportar a nova base de preços atualizada

In [29]:
# P5: Exportar a base de preços atualizada
tabela.to_excel("Produtos_atualizado.xlsx", index=False)